html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: #111111;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    padding: 1%;
    flex-grow: 1;
    align-self: center;
}